.labelDetail{
    color: #fff;
}

.containerDetail{
    display: inline-flex;
    flex-direction: column;
}

.imgDetail{
    margin-top: 0px;
}

.containerMayor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}