.form{
    height: 500px;
    width: 400px;
}

.contenedores{
    margin: 10px;
    color:#fff
}

.styleM{
    width: 250px;
    height: 30px;
    font-size: 13px;
    border: thin solid rgb(231, 17, 17);
    outline: 0px;
    border-radius: 6px;
    color: #fff;
    background: none;
}

.styleM:focus{
    border: 3px solid teal;
    /* transform: translateY(-4%); */
    transition: all 0.3s ease;
}

.itemsp{
    width: 70px;
    height: 30px;
    background: none;
    color: #fff;
    font-size: 13px;
    border-radius: 10px;
    /* border-color: teal; */
    outline: 0px;
    margin-right: 14px;
    text-align: center;
    margin-left: 14px;
}

.itemsp:focus{
    border: 3px solid teal;
    /* transform: translateY(-4%); */
    transition: all 0.3s ease;
}

.form .style input{
    background: none;
}

.form .itemsp .style{
    background: none;
}

.form input::placeholder{
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.selecStyle{
    background: none;
    width: 200px;
    height: 25px;
    outline: 0px;
    background-color: black;
    color: #fff;
    border: thin solid rgb(252, 248, 248);
    border-radius: 6px;
}

.selecStyle:focus{
    border: 3px solid teal;
    /* transform: translateY(-4%); */
    transition: all 0.3s ease;
}

.headers{
    color: rgb(244, 248, 248);
    font-size: 17px;
}

.butt{
    height: 40px;
    margin-top: 5px;
    border-radius: 10px;
    border-color: teal;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    font-size: 1rem;
    transition: box-shadow 0.2s ease-in-out;
}

.butt:hover{
    /* color: #1883ba;
    background-color: #fff;
    border: 16px #1883ba; */
    box-shadow: 0 0 40px rgb(106, 134, 134) inset;
}

.posButt{
    height: 40px;
    margin-top: 50px;
    margin-left: 225px;
    border-radius: 10px;
    border-color: teal;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    font-size: 1rem;
    transition: box-shadow 0.2s ease-in-out;
}

.posButt:hover{
    box-shadow: 0 0 40px rgb(106, 134, 134) inset;
}

.btn5{
    background-color: rgb(0, 5, 5);
    color: #fff;
}