.h1{
    color: cornsilk;
    margin-top: 60px;
    margin-left: 80px;
    font-size: 60px;
    position: center;
}

.but{
    height: 40px;
    margin: 110px;
    margin-top: 250px;
    border-radius: 10px;
    border-color: teal;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    font-size: 1rem;
    transition: box-shadow 0.2s ease-in-out;
}

.but:hover{
    /* color: #1883ba;
    background-color: #fff;
    border: 16px #1883ba; */
    box-shadow: 0 0 40px rgb(106, 134, 134) inset;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url('./Imagenes/dogs.jpg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 500px;
}