.h1{
    color: rgb(255, 255, 253);
    margin-top: 60px;
    margin-left: 80px;
    font-size: 60px;
    position: center;
    font-family: sans-serif;
}

.but{
    height: 40px;
    margin: 110px;
    margin-top: 250px;
    border-radius: 10px;
    border-color: teal;
    color: #f3e5e5;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    font-size: 1rem;
    transition: box-shadow 0.2s ease-in-out;
    
}

.but:hover{
    /* color: #1883ba;
    background-color: #fff;
    border: 16px #1883ba; */
    box-shadow: 0 0 40px rgb(106, 134, 134) inset;
}

body{
     background: linear-gradient(
        90deg,
      #333333, #121212
    );
  
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 500px;
}

.img{
    width: 500px;
    height: 600px;
    position: fixed;
    left: 600px;
    top: 100px;
    border-radius: 20px;
    box-shadow: 3px 5px 5px #333333
}



